<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<title>Botniabladet</title>		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		
		<!-- JS funktionalitet som är kopplat med Bootstrap -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<body>
	
 		<!-- NAVBAR -->
		<div class="navbar debug">
			<a class="navbar-brand" href="{% url 'home' %}">Botniabladet</a>
			<div class="row mr">
				<p id="login-name">fNamn eNamn</p>
				<button id="logout-btn" class="btn btn-danger" type="button" name="button">Logga ut &nbsp;&nbsp;&nbsp;<img height="20px" src="{% static 'logout.png' %}"></button>
			</div>
		</div>

		<div class="container debug">
			<div class="half center debug">
				<img height="40px" src="{% static 'search.png' %}"/>
				<input type="text" name="title" placeholder="Sök efter bild eller tagg" class="vTextField" maxlength="24" required="" id="id_search">
			</div>
		</div>

		<div class="container debug">

			<h1 class="upload-title">Uppladdade bilder</h1>

			<div class="container debug">
				<a class="half center btn btn-success" href="{% url 'add_post' %}">Ladda upp &nbsp;&nbsp;&nbsp;<img height="20px" src="{% static 'plus-black-symbol.png' %}"/></a>
				<div style="clear: both;">
			</div>

			<div class="photozone container debug">
				<ul>
				{% for post in object_list %}
				<div class="preview-card">
					<h2>{{ post.title }}</h2>
					<div class="photo-area debug">
						<img src="{{ post.image.url }}" alt="{{ post.title }}" class="debug">
						<!--<div style="clear: both;"></div>-->
					</div>
				</div>

				{% endfor %}
				</ul>
				<div style="clear: both;"></div>
			</div>

		</div>

	</div>

		<footer class="">

		    <div class="container">
		    
		    <p>Copyright 2019 Andreas Kuoppa, Andreas Svensk, Björn Bergdahl, Erik Sandgren och Yasmin Lindholm</p>

		    <div>Icons made by <a href="https://ww<w.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

		    <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
			
			</div>
		
		</footer>

	</body>

</html>